@model IEnumerable<Buffet.Models.Buffet.Local.LocalEntity>

@{
    ViewData["Title"] = "Locais";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h1>Locais</h1>

<form action="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Descrição" aria-label="Descrição" name="descricao">
        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-dark" value="Buscar">
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Endereço
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit btn btn-outline-dark"></i></a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye btn btn-outline-dark"></i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash btn btn-outline-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Create" class="float">
    <i class="fa fa-plus feather-32" data-feather="plus"></i>
</a>