@model Buffet.Models.Buffet.Evento.EventoEntity

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<h1>@Html.DisplayFor(model => model.Descricao)</h1>

<div>
    <a asp-action="Index"><i class="fa fa-arrow-left btn btn-outline-dark"></i></a>
    <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit btn btn-outline-dark"></i></a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Tipo do evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEvento.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            Situação do evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoEvento.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Local do evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Início
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            Término
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTermino)
        </dd>
        <dt class = "col-sm-2">
            Observações
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            Data de cadastro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            Data de alteração
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>
</div>
